<!-- Create a unique id that is stored within the Component.ts file -->
<div class="modal fade" [id]="modalId"> 
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Add Bug</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    Add Bug
                </button>
            </div>
        </div>
    </div>
</div>