.modal-content {
  border-radius: 0;
}

.modal-body {
  padding: 2.5rem 5rem;
}

#title-form-group {
  margin-top: 1rem;
}

#title-field {
  font-size: 1.3rem;
  border: none;
  border-bottom: 1px solid #CCC;
  text-transform: uppercase;
}

#title-field, 
#severity-dropdown {
  padding: 0;
}

#severity-form-group {
  padding-left: 0;
  margin-bottom: 0;
}

#severity-dropdown {
  margin: 1rem 0 1.5rem 0;
  color: #CCC;
}

.modal-footer {
  border: none;
  text-align: center;
  padding-bottom: 4rem;
}