<nav class="navbar-dark bg-inverse">
    <div class="container-fluid">
        <a routerLink="" class="navbar-brand">
            <img src="../assets/images/buggedout-logo.png">
        </a>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="nav-dropdown" 
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    jack_lyons@gmail.com
                </a>
                <div class="dropdown-menu" aria-labelledby="nav-dropdown">
                    <a href="#" class="dropdown-item">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>