<div class="row">
    <div class="col-xs-6">
        <h1>Logged Bugs</h1>
    </div>
    <div class="col-xs-6 text-xs-right">
        <button class="btn btn-success btn-lg">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Bug
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Severity</th>
                    <th>Description</th>
                    <th>Logged by</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Some data here...</td>
                    <td>Logged</td>
                    <td>Severe</td>
                    <td>This bug is severe</td>
                    <td>Jack</td>
                    <td>01 Jan 2017</td>
                </tr>   
            </tbody>
        </table>
    </div>
</div>